extends layout
block content

      form(action="/weather", method="post")
        label(for="zip")  Enter Zip Code:
        input(type="text" name="zip")
        input(type="submit" ) 
    
             
